{% extends "blog/base.html" %}
{% block content %}
<center>
    <br>
    <h1>This is the About Page of Site.</h1></center>
    <p>Plenty of people who have heard the term “blogging” fail to understand what a “blog” 
    is or how creating or reading one can impact or improve their lives. 
    Whether you have absolutely no idea what these terms mean or you know the basics 
    but want to learn more,this guide provides you with a thorough breakdown of the topic.
    The following sections also provide details about popular blogging sites and how to use one or
    more blogs to generate funds for personal and business goals.

</p>


{% endblock %}